body {
  background: #fdfdfd;
  font-family: Phantomsans, sans-serif;
}

div {
  margin: 100px 200px;
}

button {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.button-1 {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to right, #ff0f7b, #f89b29);
}

.button-1 span {
  background-color: #1a1a1a;
  color: white;
  padding: 16px 32px;
  border-radius: 5px;
  opacity: 0.9;
  transition: 300ms;
}

.button-1 span:hover {
  background: none;
}

.button-2 {
  background-color: #fbeee0;
  padding: 20px 32px;
  border-radius: 50px;
  border: 2px black solid;
  box-shadow: 5px 5px 5px black;
  transition: 300ms;
}

.button-2:hover {
  background-color: white;
}

/* CSS */
.button-3 {
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 24px;
  transition: 300ms;
  width: 200px;
  will-change: transform;
}

.button-3:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-4 {
  padding: 16px 32px;
  border-radius: 50px;
  border: 2px #51051e solid;
  background-color: #7d1538;
  color: #fff;
  box-shadow: 0px 0px 10px #7d1538;
  transition: 300ms;
}

.button-4:hover {
  box-shadow: 0px 0px 20px #7d1538;
  opacity: 0.9;
}

.button-5 {
  padding: 15px 60px;
  border: none;
  font-weight: 600;
  transition: all 300ms;
  background-image: linear-gradient(to right, #f7ba2c, #ea5459);
}

.button-5:hover {
  transform: scale(1.1);
}

.btn {
  padding: 25px 30px;
  display: inline-block;
  background: #01baef;
  color: #0b4f6c;
  font-size: 18px;
  text-decoration: none;
  margin: 0 20px;
}
